{% extends 'base.html.twig' %}

{% block title %}{{weapon.name}}{% endblock %}

{% block body %}
    <h1>{{weapon.name}}</h1>
    <p>{{weapon.body}}</p>
    <hr>
    <a href="/">Terugkeren</a>
{% endblock %}